body{
    margin:200px 400px;
    border:1px solid lightgrey;
    border-radius:5px;
    
}
.contact_form{
    
    border:1px solid lightgrey;
    background-color:darkmagenta;
    border-radius:5px;
    
}
h1,p[class="text"]{
    text-align:left;
    background-color: darkmagenta;
    border-radius:8px;
}
input[type="text"],
input[type="email"],
textarea{
    width:100%;
    border-radius:4px;
    border:1px solid black;
}